venv/
env/
ENV/
.venv/
.env/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.swp
*.swo

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

logs/
*.log

build/
dist/
*.egg
*.egg-info/
pip-log.txt
pip-delete-this-directory.txt

.env
.env.local
.env.*.local
.env.example  # <-- если вы хотите, чтобы он был в репозитории, уберите эту строку
config/
*.local

**/migrations/**

.pytest_cache/
.tox/
.coverage
htmlcov/

.ipynb_checkpoints/

.hypothesis/
.DS_Store  # macOS
Thumbs.db   # Windows

*.csv
*.json  # <-- только если они генерируются автоматически
*.db
*.sqlite3


.dockerignore
*.tar.gz

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db